# Database
DATABASE_URL="postgresql://user:password@localhost:5432/laporlingkungan"

# NextAuth
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# Map (optional: jika pakai Mapbox/Google Maps API)
NEXT_PUBLIC_MAP_API_KEY=""
