# Database
DATABASE_URL=".."
DIRECT_URL=".."

# Supabase Auth + App URL
NEXT_PUBLIC_SUPABASE_URL=".."
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=".."
SUPABASE_SERVICE_ROLE_KEY=".."
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=".."
CLOUDINARY_API_KEY=".."
CLOUDINARY_API_SECRET=".."

RESEND_API_KEY=".."

